[Desktop Entry]
#Version=1.0
Type=Application

Name=APP Samba & Linux Password change
Name[de_AT]=APP Samba & Linux Password ändern

Comment=Change Password APP network
Comment[de]=Passwort im APP Netzwerk ändern

GenericName=ChangeSMBPassword

Keywords=Password
Keywords[de]=Passwort

Exec=/usr/local/bin/ChangeSMBPassword.py

Terminal=false

Icon=seahorse

Categories=Utility
StartupNotify=false
