[Unit]
Description=Restore Standard User service
Requires=local-fs.target
After=local-fs.target
Before=laus.service

[Service]
Type=simple
ExecStart=/usr/local/bin/restore-standard-user.sh

[Install]
WantedBy=multi-user.target
